html{
    scroll-behavior: smooth;
}


body {
    font-family: Raleway, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: rgb(138, 138, 138);
    background: url(../img/bg5.jpg);
    background-size: cover;
    /* Main text color  */
}

.generalbgcolor {
    background-color: #574C68;
    border-radius: 2rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.generalbgstyle {
    background-color:#45595F;
    opacity: 1;
    border-radius: 2rem;
    padding: 1rem;
}

.alternatebgcolor {
    background-color: #808E65;
    border-radius: 2rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 3.25rem;
    border-bottom-left-radius: 3.25rem;
    padding-top: 1rem;
    padding-left : 1rem;
    opacity: .8;
}
.alternatebgcolor:hover{
    transition: ease 1s;
    opacity: 1;
}

.alternatebgstyle {
    background-color: #5D664C;
    opacity: .5;
    border-radius: 1.5rem;
    padding: .5rem;
    opacity: .8;
}
.alternatebgstyle:hover{
    transition: ease 1s;
    opacity: 1;
}

.intro-left {
    background: url(../img/background3.jpg);
    border-top-right-radius: 10rem;
    position: fixed;
    background-size: cover;
    height: 100%;
    width: 33.33%;
    left: 0;
    color: black;
}

.stuff-right {
    right: 0px;
    width: 66.66%;
    position: absolute;
}

.profile {
    width: 15rem;
    height: 15rem;
    border-radius: 40%;
    margin: .5rem;
}

.full-height {
    height: 100%;
}

section {
    margin: 10rem;
    font-size: 1.2rem;
}

.aboutme {
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.listpopups a {
    text-align: center;
    text-decoration: none;
}

.listpopups a:hover {
    background-color: #111111;
}

.ulpopups {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    user-select: none
}
.white{
    color: #DCDCDC;
    border-color: #DCDCDC;
}

.myicons {
    margin: .5rem;
    padding-top: .5rem;
}

#particles-js {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
}

.margbutton {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.scroll-anim {
    opacity: 0;
    transform: scale3d(0.1, 1, 0) rotate(-180deg);
    transition: all 1s ease-in-out;
}

.scroll-anim-active {
    opacity: 1;
    transform: scale(1);
}

.projecticons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.mywidth {
    max-width: 70%;
}

@media(max-width:768px) {
    .mywidth {
        max-width: 100%;
    }
    .generalbgcolor{
        opacity: 1;
    }
    .generalbgstyle{
        opacity: 1;
    }
    .alternatebgcolor{
        opacity: 1;
    }
    .alternatebgstyle{
        opacity: 1;
    }
    .intro-left {
        height: 40rem;
        margin-bottom: 0rem;
        position: relative;
        width: 100%;
    }
    section {
        margin: 1rem;
        font-size: 1.2rem;
    }
    .stuff-right {
        position: relative;
        width: 100%;
    }
}