body {
    font-size: 1.5rem;
    color: rgb(138, 138, 138);
    /* Main text color  */
}

html {
    scroll-behavior: smooth;
}

.intro-left {
    background: url(../img/background3.jpg);
    border-top-right-radius: 10rem;
    /* url(../img/space.jpg);   CHANGE BACKGROUND, revert to just background: then url*/
    position: fixed;
    left: 0;
    width: 33.33%;
    background-size: cover;
    height: 100%;
    color: black;
    /* Color of text under photo*/
}

.stuff-right {
    right: 0px;
    width: 66.66%;
    position: absolute;
    
}

.profile {
    width: 12rem;
    height: 12rem;
    border-radius: 40%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

section {
    margin: 10rem;
    font-size: 1.2rem;
}

.aboutme {
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.listpopups a {
    text-align: center;
    text-decoration: none;
}

.listpopups a:hover {
    background-color: #111111;
}

.ulpopups {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    user-select: none
}

.myicons {
    margin: .5rem;
    padding-top: .5rem;
}

#particles-js {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
}

.margbutton {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.scroll-anim {
    opacity: 0;
    transform: scale3d(0.1, 1, 0) rotate(-180deg);
    transition: all 1s ease-in-out;
}

.scroll-anim-active {
    opacity: 1;
    transform: scale(1);
}

.projecticons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.mywidth {
    max-width: 70%;
}

@media(max-width:768px) {
    .mywidth {
        max-width: 100%;
    }
    .intro-left {
        height: 40rem;
        margin-bottom: 0rem;
        position: relative;
        width: 100%;
    }
    section {
        margin: 1rem;
        font-size: 1.2rem;
    }
    .stuff-right {
        position: relative;
        width: 100%;
    }
}