body {
    font-size: 1.5rem;
    color: rgb(138, 138, 138);
    /* Main text color  */
}

.intro-left {
    background: url(../img/background3.jpg);
    /* url(../img/space.jpg);   CHANGE BACKGROUND, revert to just background: then url*/
    position: fixed;
    left: 0;
    width: 33.33%;
    background-size: cover;
    height: 100%;
    color: black;
    /* Color of text under photo*/
}

.stuff-right{
    right: 0;
    width: 66.66%;
    position: absolute;
}

/*  body{
    
        background:
          linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
          linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
          linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
          linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
          linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
          linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;
     
      
}
*/

.profile {
    width: 12rem;
    height: 12rem;
    border-radius: 40%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

section {
    margin: 8rem;
    font-size: 1.2rem;
}

.aboutme {
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.listpopups a {
    text-align: center;
    text-decoration: none;
}

.listpopups a:hover {
    background-color: #111111;
}

.ulpopups {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    user-select: none
}

.myicons {
    margin: .5rem;
    padding-top: .5rem;
}

#particles-js {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
}

.margbutton {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.scroll-anim{
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}
.scroll-anim-active{
    opacity: 1;
    transform: scale(1);
}

@media(max-width:768px) {
    .intro-left {
        height: 40rem;
        margin-bottom: 0rem;
        position: relative;
        width: 100%;
    }
    section {
        margin: 1rem;
        font-size: 1.2rem;
    }
    
    .stuff-right{
        position: relative;
        width: 100%;
    }
}

